$time_visibility: 0.5s;

$menu_rows: 2;
$menu_items_num: 6;
$menu_subitems_num: 10;
$menu_offset_delay: 0.1s;

$color_background_body: #227093; // The body background color of the page
$color_background_menu_overlay:  rgba(17, 18, 17, 0.80); // The menu overlay background color
$color_text_main: #ffffff; // NOT USED YET

$font_primary: 'Cabin', sans-serif;
$font_header: 'Exo 2', sans-serif;
